.calendar-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.calendar-square {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.calendar-square:hover {
  transform: scale(1.05);
}

.created-calendar {
  background-color: #4a90e2; /* Azul para calendários criados */
}

.joined-calendar {
  background-color: #f5a623; /* Laranja para calendários que você ingressou */
}

/* Botão de expansão/minimização */
.toggle-button {
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-button:hover {
  background-color: #e0e0e0;
}

.section-title {
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: space-between; /* Deixa o conteúdo à esquerda e o toggle à direita */
}

.left-content {
  display: flex;
  align-items: center; /* Alinha verticalmente o texto e o botão "Create" */
}

.hidden {
  display: none;
}