.signup-container {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
  }
  
  .features-image {
    max-width: 90%;
    border-radius: 10px;
  }
  
  .right-side {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .google-btn {
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .google-btn img {
    width: 20px;
    margin-right: 10px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  .signup-form input {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .password-container {
    position: relative;
  }
  
  .password-input {
    width: 100%;
  }
  
  .toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-70%);
    cursor: pointer;
    font-size: 18px;
  }
  
  .signup-btn {
    background-color: #b19cd9;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .login-text {
    font-size: 14px;
  }
  
  .login-link {
    color: #b19cd9;
    text-decoration: none;
    font-weight: bold;
  }
  